@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/* GENERAL */
* {
  font-family: 'Roboto Mono', monospace;
}


#title {
  text-align: center;
}

/* DARK */
body {
  background-color: #0D1117;
  color: #D3D1CD;
}

/* LIGHT */
@media screen and (prefers-color-scheme: light) {
  body {
    background-color: #D3D1CD;
    color: #0D1117;
  }
}
